<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body id="app">
		<form id="testform" method="post" action="http://up-z1.qiniu.com/" enctype="multipart/form-data">
			<input name="key" id="key" type="hidden" v-model="key">
			<!--token, 需要自己根据自己的存储空间生成一下，这里是我们上传Demo的token,已经过期了-->
			<input name="token" type="hidden" value="xozWSPMxkMjIVoHg2JyXq4-7-oJaEADLOKHVR0vU:ijvKc6QYogS_wnoSecaJfXk26jw=:eyJzY29wZSI6Impzc2RrLW5hMDphLmpwZyIsImRlYWRsaW5lIjoyMTE0MzgwODAwMDAwLCJmc2l6ZU1pbiI6OTAwMDAwLCJmc2l6ZUxpbWl0IjoxMDAwMDAwfQ==">
			<input accept="*" id="file" name="file" type="file" v-model="file"/>
			<input name="accept" type="hidden" />
			<input type="submit" id="button" name="" @click.prevent="upload"/>
			<div id="progress">0</div>
			<div>file:{{file}}</div>
			<div>key:{{key}}</div>
		</form>
		<script type="text/javascript">
			new Vue({
				el: '#app',
				data: {
					file: ''
				},
				computed:{
					key:function(){
						return 'a.jpg';
						if(this.file) return 'testfile/'+Math.random().toString().substr(2)+'/'+this.file.match(/(?=\\?)([^\\]*)$/)[1];
						return '';
					}
				},
				methods:{
					upload:function(){
						if(!this.file) return;
						var f=new FormData(document.getElementById("testform"));
						Vue.http.post("http://up-na0.qiniu.com/",f,{
							progress:function(e){
								console.log(e);
							}
						}).then(function(res){
							console.log(res);
						},function(err){
							console.log(err);
						});
					}
				}
			});
		</script>
	</body>
</html>
