<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <title>TO DO List</title>
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="bootstrap-theme.css" rel="stylesheet" />
    <script src="angular.js"></script>
    <script>
        var todoApp = angular.module("todoApp", []);

        function Greeter($scope) {
            this.greeting = 'message';
            $scope.b="b";
        }
        Greeter.prototype.greet = function (o) {
            console.log(o);
        };

        todoApp.controller("ToDoCtrl", Greeter);

    </script>
</head>
<body ng-controller="ToDoCtrl">
    todo.greeting:{{todo.greeting}}<br/>
    todo.b:{{todo.b}}<br/>
    b:{{b}}<br/>
	<input type="text" ng-model="b" />
    <div ng-click="todo.greet()">xxx</div>
</body>
</html>
