<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="extend-input">
  <script>
    Polymer({
      is: 'extend-input',
      extends: 'input',
      created: function() {
        this.style.border = '1px solid #f00';
        console.log('extend-input created');
      },
      ready: function() {
        console.log('extend-input ready');
      },
      attached: function() {
        console.log('extend-input attached');
      },
      detached: function() {
        console.log('extend-input detached');
      },
      attributeChanged: function() {
        console.log('extend-input attributeChanged');
      }
    });
  </script>
</dom-module>