<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>TO DO List</title>
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="bootstrap-theme.css" rel="stylesheet" />
    <script src="angular.js"></script>
    <script>
        var app = angular.module('app', []);
        app.controller('appCtrl1', function($scope, $rootScope){
            $scope.address = 'shanghai';
            $scope.setAddress = function() {
                $rootScope.$broadcast('setAddress', {
                    newAddress: $scope.newAddress
                });
            }
            $scope.$on('setAddress', function(event, args) {
                $scope.address = args.newAddress;
                console.log(event);
            })
        })
    </script>
</head>
<body>
    <div ng-controller="appCtrl1">
        <div>address: {{address}}</div>
        <input type="text" ng-model="newAddress"> <button ng-click="setAddress()">setAddress</button>
        <div ng-controller="appCtrl1">
            <div>address: {{address}}</div>
            <input type="text" ng-model="newAddress"> <button ng-click="setAddress()">setAddress</button>
        </div>
    </div>
</body>
</html>
