<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Controllers</title>
    <script src="angular.js"></script>
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="bootstrap-theme.css" rel="stylesheet" />
    <script>
        angular.module("myApp", ['pro'])
        .config(function(plogProvider) {
        })
        .controller("testCtrl",function($scope, plog){
            $scope.name = 'lzw';
            $scope.data = {
                totalClicks: 0
            };
            $scope.log = function() {
                plog.log($scope.name);
            }
        })
        .directive('testDir', function(plog) {
            return {
                scope: {
                    counter: "=counter"
                },
                link: function(scope, element, attrs) {
                    element.on("click", function(event) {
                        plog.log("button clicked: " + event.target.innerText);
                        plog.log("total clicked: " + ++scope.counter);
                    })
                },
                restrict: 'E',
                template: '<button class="btn btn-default">click me!</button>'
            }
        })
        .factory('logFactory', function() {
            var sum = 0;
            return {
                log: function(msg) {
                    console.log("log " + ++sum + "times: " + msg);
                }
            }
        })
        .service('logService', function() {
            this.sum = 0;
            this.log = function(msg) {
                console.log("log " + ++this.sum + "times: " + msg);
            }
        });
        
        angular.module('pro', [])
        .provider('plog', function() {
            var enable = true;
            return {
                enable: function(setting) {
                    enable = !!setting;
                    return this;
                },
                $get: function() {
                    return {
                        count: 0,
                        log: function (msg){
                            if(enable) {
                                console.log(++this.count + 'times log');
                            }
                            console.log(msg);
                        }
                    }
                }
            }
        });
    </script>
</head>
<body>
    <div class="well" ng-controller="testCtrl">
        <button class="btn btn-default" ng-click="log()">click</button>
        <input ng-change="broadcast()" type="text" ng-model="name">
        {{name}} {{getname()}}
        <test-dir counter="data.totalClicks"></test-dir>
    </div>
</body>
</html>







