@charset "UTF-8";
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}
ul,li,body{
	padding:0;margin: 0;
	list-style: none;
}
.hidden{
	display: none;
}
.navbar{
	line-height: 48px;
	background: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
	height: 48px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
	border: 1px solid #e7e7e7;
	margin-bottom: 20px;
}
.navbar .navbar-header{
	float: left;
	font-size: 18px;
}
.navbar .navbar-header a{
	color: #666;
	text-decoration: none;
}
.navbar .navbar-right{
	float: right;
}
.navbar .navbar-right li{
	float: left;
	padding: 0 20px;
}
.navbar .navbar-right li a{
	text-decoration: none;
	color: #666;
}
.container{
	margin: 0 auto;
	width:1170px;
}
.login{
	margin: 100px auto;
	width: 500px;
}
.login .form-control{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	box-sizing: border-box;
}
.login label{
	line-height: 34px;
	font-weight: bold;
}
.login #login_btn{
	background-color: #2d6ca2;
	background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
	display: block;
	width: 100%;
	padding: 10px 16px;
  	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	color: #fff;
	box-sizing: border-box;
	margin-top: 30px;
	cursor: pointer;
}
.table{
	border: 1px solid #ddd;
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	border-spacing: 0;
	border-collapse: collapse;
}
.table th,.table td {
	vertical-align: middle;
	border: 1px solid #ddd;
	padding: 8px;
	line-height: 1.42857143;
}
.table th{
	border-bottom-width: 2px;
}
tr.danger td{
	background-color: #f2dede;
}
tr.active td{
	background-color: #f5f5f5;
}
tr.info td{
	background-color: #d9edf7;
}
tr.success td{
	background-color: #dff0d8;
}
tr.warning td{
	background-color: #fcf8e3;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.btn-group{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.btn{
	margin-left: 5px;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn-primary {
	background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
	background-repeat: repeat-x;
	border-color: #2b669a;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
	color: #fff;
	background-color: #428bca;
}
.btn-primary:disabled, .btn-primary[disabled]{
	background-color: #2d6ca2;
	box-shadow: none;
	opacity: .65;
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.pull-right{
	float: right;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 75px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
    text-decoration: none;
}

#shield-pannel{
	width : 100%;
	height : 100%;
	min-width : 100%;
	min-height : 100%;
	background-color : #000;
	background-repeat : no-repeat;
	background-position : center;
	position : fixed;
	top : 0px;
	left : 0px;
	z-index : 99990;
	filter : alpha(opacity=30);
	-moz-opacity : 0.3;
	opacity : 0.3;
}