<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>购物下单助手</title>
	<link rel="stylesheet" href="options.css" type="text/css">
</head>
<body>
<nav class="navbar">
	<div class="container">
		<div class="navbar-header">
			<a href="http://www.b5m.com">帮5买订单助手</a>
		</div>
		<ul class="navbar-right hidden" style="display: block;">
			<li><a href="#" id="userInfo">客服:order01</a></li>
			<li><a href="#" id="logout_btn">退出</a></li>
		</ul>
	</div>
</nav>
<div class="container">
	<div class="login hidden">
		<h1>MC帐号登录</h1>

		<form role="from" id="login_form">
			<div class="form-group" id="schemaSelect">
				<label>CRM环境</label>

				<p>
					<a href="http://172.16.111.231:58081" target="_blank">开发环境</a>
					<a href="http://10.30.102.1:58081" target="_blank">测试环境</a>
					<a href="http://10.30.99.34:58081" target="_blank">真实环境</a>
				</p>
				<label for="kfName">环境</label>
				<select class="form-control" id="serverType">
					<option value="http://172.16.111.231:58081" selected="">开发环境</option>
					<option value="http://10.30.102.1:58081">测试环境</option>
					<option value="http://10.30.99.34:58081">真实环境</option>
				</select>
			</div>
			<div class="form-group">
				<label for="kfName">用户名</label>
				<input type="text" class="form-control" name="kfName" id="kfName" placeholder="用户名" required="">
			</div>
			<div class="form-group">
				<label for="pass">密码</label>
				<input id="pass" name="pass" type="password" class="form-control" placeholder="密码" required="">
			</div>
			<button id="login_btn">登录</button>
		</form>
	</div>
	<div id="orders">
		<table class="table order-ls">
			<thead>
			<tr>
				<th>订单ID</th>
				<th>标题</th>
				<th style="width:75px;">商家</th>
				<th>已提交订单信息</th>
				<th>状态</th>
				<th style="width:138px;">操作</th>
			</tr>
			</thead>
			<tbody>
			<tr class="success" data-id="prod851619735685_s1" data-workno="W14461999692010013">
				<td><a target="_blank"
				       href="http://10.30.102.1:58081/work/detail?orderNo=prod851619735685&amp;work_no=W14461999692010013">prod851619735685_s1</a>
				</td>
				<td>可人2015秋装名媛清新波点荷叶边鱼尾收腰毛呢无袖连衣裙女 M6-1C</td>
				<td>淘宝网</td>
				<td>prod851619735685_s1<br>总价:(28)</td>
				<td class="center" id="st_prod851619735685_s1">已完成下单</td>
				<td class="center" rowspan="1">
					<button class="btn btn-primary btn-run" disabled="disabled" id="btn_prod851619735685_s1">下单</button>
					<div class="btn-group">
						<button class="btn btn-primary btn-sm dropdown-toggle btn-end" data-toggle="dropdown"
						        type="button" aria-expanded="false" disabled="disabled">终止<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">缺货</a></li>
							<li><a href="#">差价</a></li>
							<li><a href="#">其他</a></li>
						</ul>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
		<div>
			<button id="reload_btn" class="pull-right btn btn-primary">换一批</button>
		</div>
	</div>
</div>
<script type="text/javascript" src="../assets/js/_lib/jquery.js"></script>
<script type="text/javascript" src="../assets/js/_lib/des.js"></script>
<script type="text/javascript" src="../assets/js/common/commonUtils.js"></script>
<script type="text/javascript" src="../assets/js/options/options.js"></script>

</body>
</html>